.search-box-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin: auto;
}

.input {
  --border-color: #aaa;
  border: 1px solid var(--border-color);
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.4em;
  width: 100%;
}

.input:focus,
.input:hover {
  --border-color: hsl(60, 20%, 70%);
  box-shadow: 0 0 5px 0 var(--border-color);
}

.nav-button-group {
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  .search-box-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .nav-button-group {
    justify-content: center;
    margin-top: 5px;
  }
}
