# 0=Prod / 1=Debug
DEBUG=1
# set our secret key. Go to https://djecrety.ir/ to generate a good one
SECRET_KEY="this_is_not_very_secret"

# set up Database Users. We will be using Postgresql and this should already
# exist with the correct user and password
UPRN_DB_USER=
UPRN_DB_PASSWORD=
UPRN_DB_NAME=
UPRN_DB_HOST=
UPRN_DB_PORT=
