.btn {
  /* margin: 0;
  background: none;
  border: none;
  background-color: hsl(160, 100%, 60%);
  border-radius: 9999px; */
  color: white;
  background-color: hsl(200, 100%, 50%);
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  cursor: pointer;
}

.btn:hover {
  animation: blink 500ms ease-in-out infinite, grow 1s ease-in-out infinite;
}

.btn.btn-search {
  margin-left: 5px;
}
