.header-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid hsl(0, 0%, 50%);
  /* margin: 0;
  padding: 0; */
}

.header-item {
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: 100%;
  padding: 0.3em;
  flex: 1;
}

.header-item.uprn {
  font-size: 1.1em;
  padding-right: 10px;
  min-width: 120px;
}

.header-item.address {
  flex: 4;
}

.header-item.link {
  width: 200px;
}

@media (max-width: 768px) {
  .header-item.uprn {
    font-size: 1em;
    /* width: auto; */
    width: 120px;
  }

  .header-item.address {
    min-width: auto;
  }

  .header-item.x-coord,
  .header-item.y-coord,
  .header-item.lat,
  .header-item.lon,
  .header-item.link {
    display: none;
  }
}
