.result-container {
  border-bottom: 1px solid hsl(0, 0%, 70%);
}

.result-details {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.result-container:nth-child(2n) {
  background-color: hsl(50, 20%, 95%);
}

.result-container:hover,
.result-container:nth-child(2n):hover {
  background-color: hsl(50, 20%, 80%);
}

.result-container:last-child {
  border-bottom: none;
}

.result {
  text-align: center;
  align-self: center;
  width: 100%;
  padding: 0.3em;
  flex: 1;
}

.result.uprn {
  font-size: 1.1em;
  padding-right: 10px;
}

.result.address {
  text-align: left;
  flex-shrink: 0;
  flex: 4;
}

.result.address-main {
  text-align: left;
}

.result.address-extra {
  display: none;
  padding: 10;
  border: 1 solid gray;
}

.result.link {
  width: 200px;
}

@media (max-width: 760px) and (orientation: portrait) {
  .result.uprn {
    font-size: 1em;
  }

  .result.address {
    /* min-width: auto; */
    font-size: 0.9em;
  }

  .result.x-coord,
  .result.y-coord,
  .result.lat,
  .result.lon,
  .result.link {
    display: none;
  }
}

@media (max-width: 940px) {
  .result.uprn {
    min-width: 120px;
  }
}
