.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #aaa;
  border-radius: 0.4em;
  background-clip: padding-box;
  padding-top: 5px;
  background-color: hsl(60, 20%, 90%);
  margin-bottom: 20px;
  font-size: 0.9rem;
}
