/* This container holds the search box, results and loading component */
.search-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

/* put extra overall horizontal padding to the results on larger screens to stop
it looking too spaced out.*/
@media (min-width: 1200px) {
  .search-container {
    width: 70%;
  }
}
