.pager-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* extra margin for last pager */
.pager-container:last-child {
  margin-bottom: 20px;
}

.pager-links {
  margin-left: 5px;
}

.pager-link {
  font-size: 0.9em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  margin: 0 0.1em;
}

@media (max-width: 480px) {
  /* hide the page links on mobile devices */
  .pager-link {
    display: none;
  }
}
